%h1= comparison.story.title
%h2.subheader Comparing versions #{comparison.left} and #{comparison.right}
%p
  Changes by #{comparison.author.email}
  #{time_ago_in_words comparison.created_at} ago
%ul.inline-list
  %li= button_to "Restore version #{comparison.left}", story_revertion_path(comparison.story, comparison.left), method: 'post', class: 'button radius alert small'
  %li= button_to "Restore version #{comparison.right}", story_revertion_path(comparison.story, comparison.right), method: 'post', class: 'button radius alert small'
  %li= link_to 'Back', comparison.story, class: 'button radius secondary small'
.diff
  = comparison.diff
