= simple_form_for project do |f|
  %fieldset
    %legend Content
    = f.input :title
    = f.input :description
  %fieldset
    %legend API integration
    = f.input :token
    = f.input :external_id
  .actions
    = f.submit class: 'button radius'
