= simple_form_for(epic? ? [current_project, story.epic, story] : [current_project, story]) do |f|
  %fieldset
    %legend Content
    = f.input :title
    = f.input :body
  %fieldset
    %legend Other
    = f.association :epic, label_method: :title
  .actions
    = f.submit class: 'button radius'
    = link_to_back
