%tr[summary_story, :summary]
  %td= summary_story.id
  %td= summary_story.permalink
  %td= summary_story.comments_count
  %td= summary_story.requirements_count
  %td= summary_story.completed_at
  %td= summary_story.owner
  %td= link_to 'Edit', [:edit, summary_story.project, summary_story]
