.row
  .eight.columns
    %div[story]
      %h1= story.title
      .body= story.body

    %h2 Discuss
    .events
      %ol
        = render story.events
    = render partial: 'comments/form', locals: { commentable: story }
  .four.columns
    %ul.inline-list
      %li= button_to 'Mark as ready', story_completion_path(story), class: 'button radius small'
      %li= link_to 'Edit', edit_story_path(story), class: 'button small radius'
      %li= link_to 'Back', stories_path, class: 'button radius secondary small'

    .panel
      %h5= story.requirements_count
      %ol.requirements
        - story.done_requirements.each do |req|
          %li.done[req]
            %label
              = check_box_tag "done_#{req.id}", "1", true
              = req.title
            = button_to 'Remove', [story, req], method: 'delete'
        - story.pending_requirements.each do |req|
          %li.pending[req]
            %label
              = check_box_tag "done_#{req.id}", "1", false
              = req.title
            = button_to 'Remove', [story, req], method: 'delete'
      = simple_form_for [story, story.pending_requirements.build] do |f|
        .row.collapse
          = f.input :title, input_html: { placeholder: 'Add requirement', class: 'nine columns' }
          .three.columns
            = f.submit 'Add', class: 'three columns button expand postfix'

    .panel
      = simple_form_for story do |f|
        = f.association :owner, label_method: :email
        = f.submit 'Set Owner'
      - if story.owner.present?
        Waiting for #{story.owner.email}
      - else
        Not assigned to anyone

    - if story.versions.count > 0
      .panel
        %h5 Previous versions (currently at #{story.version})
        = link_to 'View latest changes', story_comparison_path(story, story.version - 1, story.version)
        %h6 Older versions
        %ol.versions
          = render partial: 'vestal_versions/versions/version_log', collection: story.older_versions, story: story

