%h1= epic.title
%h2.subheader Description
.row
  .body.nine.columns= markdown epic.body
  .three.columns
    = button_to 'Destroy', epic, method: :delete, class: 'button alert radius small'
    = link_to 'Add user story to this epic', new_epic_story_path(epic), class: 'button radius small'
    = link_to 'Edit', [:edit, epic], class: 'button radius small'
- if epic.stories.any?
  %h2.subheader Included stories
  = render partial: 'stories/summary_stories', object: epic.stories
- else
  %p There are no stories to display.
