<!DOCTYPE html>
<html>
  <head>
    <title>Storyteller</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <% if user_signed_in? %>
      <li>
      <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
      </li>
    <% else %>
      <li>
      <%= link_to('Login', new_user_session_path)  %>
      </li>
    <% end %>

    <% if flash.any? %>
      <div id="flash">
        <% if flash[:notice] %>
          <div class="notice"><%= flash[:notice] %></div>
        <% end %>
        <% if flash[:alert] %>
          <div class="alert"><%= flash[:alert] %></div>
        <% end %>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>
